@model Pet

@{ 
    TempData["Title"] = "Editar";
}

<h1>Editar</h1>

<form asp-action="editar">
    <input asp-for="Id"/>
    <partial name="_Form" />
    <editar></editar>
    <a asp-action="index" asp-controller="pet" class="btn btn-danger">Cancelar</a>
</form>