@model List<Cachorro>

@{
    ViewData["Title"] = "Cachorros cadastrados";
}

<h1>Lista de Cachorros<i class="fas fa-dog"></i></h1>

<mensagem texto="@TempData["msg"]"></mensagem>
<form class="form-inline mb-3">
    <input type="text" name="nomeBusca" placeholder="Digite o nome" class="form-control mr-1" />
    <select asp-items="Html.GetEnumSelectList<Sexo>()" name="sexoBusca" class="form-control mr-1">
        <option>Sexo</option>
    </select>
    <input type="submit" value="Pesquisar" class="btn btn-success" />
</form>
<partial name="_Table" />