@model List<Gato>

@{
    ViewData["Title"] = "Gatos cadastrados";
}

<h1>Gatos cadastrados <i class="fas fa-cat"></i></h1>

<mensagem texto="@TempData["msg"]"></mensagem>
<div class="input-group mb-3" >
    <form action="/Gato/Filtrar" >
        <div class="input-group-append" style="float: right">
            <input type="text" name="cor" placeholder="Filtrar(cor)">
            <input value="Filtrar" type="submit" class="btn btn-success btn-sm" />
        </div>
    </form>
</div>
<partial name="_Table" />